@font-face{
    font-family: 'hanyiquantang';
    src : url('./component/logo/myfont.ttf');
}

body{
    font-family: 'hanyiquantang';
}

/* avatarSelector 请选择头像 */
.am-list-header {
    /* text-align: center !important; */
    /* vertical-align: middle !important; */
    /* height: 24px !important; */
    height: 48px;
}

.am-list-header img {
    vertical-align: middle;
}

.am-list-header span {
    vertical-align: middle;
}


/*  底部导航栏  */

.am-tab-bar-bar {
    position: fixed !important;
    bottom: 0;
}

.am-tab-bar-tab-title {
    font-size: 12px !important;
}


/* // chat组件 */
.submitMsg {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* border: none; */
}
.chat .chat_listItem .am-list-content {
    text-align: right !important;
    padding-left: 15px;
}

.chat .chat_listItem .am-list-extra {
    flex-basis: 10% !important;
    
}

.chat .am-grid-icon {
    display: none;
}
.chat .am-grid-text {
    margin-top: 0 !important;
    font-size: 16px !important;
}